<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <title>Agregar Cita</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Agregar_medico.css') }}">
</head>
<body>

  <div class="header">
    <h2>AGREGAR CITA</h2>
    <div class="nav-icons">
        <a href="{{ url_for('citasLista.citasLista') }}" class="nav-icon">
            <img src="{{ url_for('static', filename='img/Home.svg') }}" alt="Médico Admin">
        </a>
        <a href="{{ url_for('cerrarSesion') }}" class="nav-icon">
            <img src="{{ url_for('static', filename='img/Cerrar sesion.svg') }}" alt="Cerrar sesión">
        </a>
    </div>
  </div>

  <!-- {% with mensajes = get_flashed_messages() %}
    {% if mensajes %}
      <script>
        Swal.fire({
          icon: 'success', 
          title: 'Mensaje',
          text: "{{ mensajes[0] }}",
          showConfirmButton: true
        });
      </script>
    {% elif errores and errores.emptyValues %}
      <script>
        Swal.fire({
          icon: 'error', 
          title: 'Error',
          text: "{{ errores.emptyValues }}",
          showConfirmButton: true
        });
      </script>
    {% endif %}
  {% endwith %} -->
      <script>
      Swal.fire({
                    icon: 'question', 
                    title: 'Información',
                    text: "Esto es solo una vista previa de Agregar cita. No se guardarán los datos.",
                    showConfirmButton: true
                });
            </script>

  <div class="card">
    <div class="left">
      <img src="{{ url_for('static', filename='img/CitaIcono.svg') }}" alt="Doctor" class="doctor-img">
    </div>
    <div class="right">
      <form >
        <label>Paciente selecionado:</label>
        <input type="text" name="paciente" placeholder="Paciente ejemplo" value="Paciente generico 1">

        <label for="fecha_exploracion">Fecha de exploracion:</label>
        <input type="date" id="fecha_exploracion" name="fecha_exploracion" >

        <label for = "peso">Peso en kg:</label>
        <input type="number" name="peso" >

        <label for = "altura">Altura en cm:</label>
        <input type="number" name="altura"   >

        <label for = "temperatura">Temperatura en °C:</label>
        <input type="number" name="temperatura"  >

        <label for = "latidos">Latidos en bpm:</label>
        <input type="number" name="latidos"   >

        <label for = "oxigeno">Saturación de oxígeno en %:</label>
        <input type="number" name="oxigeno"  >

       

      </form>
      <div class="btn-group">
        <a href="{{ url_for('agregarCita.mostrarAgregarCitaContinuar') }}" class="btn-guardar">
          <img src="{{ url_for('static', filename='img/next.svg') }}" class="btn-icon" alt="Continuar"> CONTINUAR
        </a>
        <!-- <button href="{{ url_for('agregarCita.mostrarAgregarCitaContinuar') }}" class="btn-guardar">
          <img src="{{ url_for('static', filename='img/next.svg') }}" class="btn-icon" alt="Continuar"> CONTINUAR
        </button> -->
        <a href="{{ url_for('medico.medico') }}" class="btn-cancelar">
          <img src="{{ url_for('static', filename='img/Cancelar.svg') }}" class="btn-icon" alt="Cancelar"> CANCELAR
        </a>
      </div>
    </div>
  </div>

  

</body>
</html>
