<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <title>Agregar Cita</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Agregar_medico.css') }}">
</head>
<body>

  <div class="header">
    <h2>EDITAR CITA</h2>
    <div class="nav-icons">
        <a href="{{ url_for('citasLista.citasLista') }}" class="nav-icon">
            <img src="{{ url_for('static', filename='img/Home.svg') }}" alt="Médico Admin">
        </a>
        <a href="{{ url_for('cerrarSesion') }}" class="nav-icon">
            <img src="{{ url_for('static', filename='img/Cerrar sesion.svg') }}" alt="Cerrar sesión">
        </a>
    </div>
  </div>

  {% if errores and errores.emptyValues %}
    <script>
      Swal.fire({
        icon: 'error', 
        title: 'Error',
        text: "{{ errores.emptyValues }}",
        showConfirmButton: true
      });
    </script>
  {% elif errores and errores.dbError %}
    <script>
      Swal.fire({
        icon: 'error', 
        title: 'Error',
        text: "{{ errores.dbError }}",
        showConfirmButton: true
      });
    </script>
  {% endif %}


  {% if not errores.emptyValues and not errores.dbError %}
  <div class="card">
    <div class="left">
      <img src="{{ url_for('static', filename='img/CitaIcono.svg') }}" alt="Doctor" class="doctor-img">
    </div>
    <div class="right">
      <form action="/editarCita" method="POST">
        <label for = "paciente">Paciente selecionado:</label>
        <input type="text" name="paciente"  value="{{request.form.paciente or session['cita_temp']['paciente'] }}" readonly>

        <label for = "edad">Edad:</label>
        <input type="text" name="edad"  value="{{request.form.edad or session['cita_temp']['edad'] }}" readonly>

        <label for="fecha_exploracion">Fecha de exploracion:</label>
        <input type="date" id="fecha_exploracion" name="fecha_exploracion" value="{{request.form.fecha_exploracion or session['cita_temp']['fecha']}}" readonly>

        <label for = "peso">Peso en kg:</label>
        <input type="number" name="peso" value="{{request.form.peso or session['cita_temp']['peso']}}">

        <label for = "altura">Altura en cm:</label>
        <input type="number" name="altura"   value="{{request.form.altura or session['cita_temp']['altura']}}">

        <label for = "temperatura">Temperatura en °C:</label>
        <input type="number" name="temperatura"  value="{{request.form.temperatura or session['cita_temp']['temperatura']}}">

        <label for = "latidos">Latidos en bpm:</label>
        <input type="number" name="latidos"   value="{{request.form.latidos or session['cita_temp']['latidos']}}">

        <label for = "oxigeno">Saturación de oxígeno en %:</label>
        <input type="number" name="oxigeno"  value="{{request.form.oxigeno or session['cita_temp']['oxigeno']}}">

        <label for = "glucosa">Glucosa en la sangre:</label>
        <input type="number" name="glucosa"  value="{{request.form.glucosa or session['cita_temp']['glucosa']}}">


        <div class="btn-group">
          <button type = "submit"  class="btn-guardar">
            <img src="{{ url_for('static', filename='img/next.svg') }}" class="btn-icon" alt="Continuar"> CONTINUAR
          </button>
          <a href="{{ url_for('citasLista.citasLista') }}" class="btn-cancelar">
            <img src="{{ url_for('static', filename='img/Cancelar.svg') }}" class="btn-icon" alt="Cancelar"> CANCELAR
          </a>
        </div>
      </form>
    </div>
  </div>
  {% else %}
    <div class="card">
            <div class="left">
                <img src="{{ url_for('static', filename='img/NoUsersImage.png') }}" alt="Expediente" class="doctor-img">
            </div>
            <div class="right">
                <form>
                    <p>Ha ocurrido un pequeño error, regresa e intenta de nuevo.
                    </p>
                    <p>Si el problema persiste, entonces llama
                    </p>
                    <div class="btn-group">
                        <a href="{{ url_for('citasLista.citasLista') }}">
                            <button type="button" class="btn-cancelar">
                                <img src="{{ url_for('static', filename='img/regresar.svg') }}" class="btn-icon" alt="Cancelar"> REGRESAR
                            </button>
                        </a>
                    </div>
                </form>
            </div>
        </div>  
  {% endif %}

  

</body>
</html>
