<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <title>Editar Cita</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Agregar_medico.css') }}">
</head>
<body>

  <div class="header">
    <h2>TERMINAR EDITAR CITA</h2>
    <div class="nav-icons">
        <a href="{{ url_for('citasLista.citasLista') }}" class="nav-icon">
            <img src="{{ url_for('static', filename='img/Home.svg') }}" alt="Médico Admin">
        </a>
        <a href="{{ url_for('cerrarSesion') }}" class="nav-icon">
            <img src="{{ url_for('static', filename='img/Cerrar sesion.svg') }}" alt="Cerrar sesión">
        </a>
    </div>
  </div>

  <!-- {% with mensajes = get_flashed_messages() %}
    {% if mensajes %}
      <script>
        Swal.fire({
          icon: 'success', 
          title: 'Mensaje',
          text: "{{ mensajes[0] }}",
          showConfirmButton: true
        });
      </script>
    {% elif errores and errores.emptyValues %}
      <script>
        Swal.fire({
          icon: 'error', 
          title: 'Error',
          text: "{{ errores.emptyValues }}",
          showConfirmButton: true
        });
      </script>
    {% endif %}
  {% endwith %} -->
        <script>
      Swal.fire({
                    icon: 'question', 
                    title: 'Información',
                    text: "Esto es solo una vista previa de Editar cita. No se guardarán los datos.",
                    showConfirmButton: true
                });
            </script>

  <div class="card">
    <div class="left">
      <img src="{{ url_for('static', filename='img/CitaIcono.svg') }}" alt="Doctor" class="doctor-img">
    </div>
    <div class="right">
      <form action="/#" method="POST">
        <label for="sintomas">Síntomas:</label>
        <textarea name="sintomas" placeholder="Síntomas del paciente" required></textarea>

        <label for="diagnostico">Diagnóstico:</label>
        <textarea name="diagnostico" placeholder="Diagnóstico del paciente" required></textarea>
        
        <label for="diagnostico">Diagnóstico:</label>
        <textarea name="diagnostico" placeholder="Diagnóstico del paciente" required></textarea>

        <label for="tratamiento">Tratamiento:</label>
        <textarea name="tratamiento" placeholder="Medicamentos e indicaciones" required></textarea>

        <label for="estudios">Estudios:</label>
        <textarea name="estudios" placeholder="Estudios requeridos" required></textarea>

        <div class="btn-group">
          <!-- <button href="{{ url_for('citasLista.citasLista') }}" class="btn-guardar">
            <img src="{{ url_for('static', filename='img/Guardar.svg') }}" class="btn-icon" alt="Continuar"> Guardar
          </button> -->
          <a href="{{ url_for('citasLista.citasLista') }}" class="btn-guardar">
            <img src="{{ url_for('static', filename='img/Guardar.svg') }}" class="btn-icon" alt="Continuar"> Guardar
          </a>
          <a href="{{ url_for('citasLista.citasLista') }}" class="btn-cancelar">
            <img src="{{ url_for('static', filename='img/Cancelar.svg') }}" class="btn-icon" alt="Cancelar"> CANCELAR
          </a>
        </div>
      </form>
    </div>
  </div>

  

</body>
</html>
