<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{nombre_medico}}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Cerrar sesion</a></li>
            <li><a href="/agregarPaciente">Agregar expediente</a></li>
        </ul>
    </nav> 

    <h1>Médico</h1>

    {% if errores %}
        {% for error in errores.values() %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endif %}


    <h2 style="color:blue">Bienvenid@ {{nombreMedico}}</h2>

    {% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
            {% for msj in mensajes %}
                <h4 style="color: green">{{msj}}</h4>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!--No se como vayan a mostrar esto, espero en cards de Bootstrap, pero por ahora es una tabla, solo disuelvan sus componenetes y a 
    los elementos de jinja no les cambien el nombre-->
    <h2>Expedientes de pacientes</h2>
    {% if tblPacientes|length == 0 %}
    <p style="color: red;">No hay pacientes registrados</p>
    {% endif %}     

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre de paciente</th>
                <th>Editar</th>
                <th>Eliminar</th>
                <th>Crear cita</th>
            </tr>
        </thead>
        <tbody>
            {% for paciente in tblPacientes %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ f"{paciente.Nombres} {paciente.Apellido_paterno} {paciente.Apellido_materno}" }}</td>
                <td>
                    <a href="/editarPaciente/{{ paciente.ID_paciente }}"><button>Editar</button></a>
                </td>
                <td>
                    <a href="/eliminarPaciente/{{ paciente.ID_paciente }}"><button>Eliminar</button></a>
                </td>
                <td>
                    <a href="/crearCita/{{ paciente.ID_paciente }}"><button>Crear cita</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>