<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Agregar Médico</title>
</head>
<body>
  <h2>Agregar Médico</h2>
   {% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
            {% for msj in mensajes %}
                <h4 style="color: green;">{{ msj }}</h4>
            {% endfor %}

        {% elif errores and errores.emptyValues %}
            <p style="color:red">{{errores.emptyValues}}</p>
        {% endif %}

    {% endwith %}
        <form action="/agregar_medico" method="post">
          <input type="text" name="nombre" placeholder="Nombres" value = "{{ request.form.nombre }}" required>
          <input type="text" name="apellido_P" placeholder="Apellido Paterno" value = "{{ request.form.apellido_P }}" required>
          <input type="text" name="apellido_M" placeholder="Apellido Materno" value = "{{ request.form.apellido_M }}" required>
          <input type="text" name="cedula" placeholder="Cédula profesional" value = "{{ request.form.cedula }}" required>
          {% if errores and errores.cedulaLen %}
              <p style="color:red">{{errores.cedulaLen}}</p>
          {% endif %}
          <input type="text" name="rfc" placeholder="RFC" value = "{{ request.form.rfc }}" required>
          {% if errores and errores.rfcLen %}
              <p style="color:red">{{errores.rfcLen}}</p>
          {% endif %}
          {% if errores and errores.rfcExists %}
              <p style="color:red">{{errores.rfcExists}}</p>
          {% endif %}
          <input type="email" name="correo" placeholder="Correo" value = "{{ request.form.correo }}" required>
          {% if errores and errores.mailExists %}
              <p style="color:red">{{errores.mailExists}}</p>
          {% endif %}
          <input type="password" name="password" placeholder="Contraseña" required>
          {% if errores and errores.passwordLen %}
              <p style="color:red">{{errores.passwordLen}}</p>
          {% endif %}
    <select name="rol">
      <option value="1">Medico</option>
      <option value="2">Medico Admin</option>
    </select>
    <button type="submit">Guardar</button>
  </form>
  <a href="/medico_admin"> Regresar</a>
</body>
</html>