<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Inicio Sesión</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

  <div class="container">
    <img src="{{ url_for('static', filename='img/Img1.png') }}" alt="Logo médico" class="logo">

    <h2 class="titulo">INICIO SESIÓN</h2>

    {% with mensajes = get_flashed_messages() %}
      {% if mensajes %}
           <script>
          Swal.fire({
            icon: 'success',
            title: 'Mensaje',
            text: "{{ mensajes[0] }}",
            showConfirmButton: true
          });
        </script>
      {% endif %}
    {% endwith %}

    <form action="/login" method="POST" class="login-form">
      <div class="input-group">
        <span class="icon">
          <img src="{{ url_for('static', filename='img/Img6.png') }}" alt="Icono RFC">
        </span>
        <input type="text" name="rfc" placeholder="RFC" value="{{ request.form.rfc }}">
      </div>

      <div class="input-group">
        <span class="icon">
          <img src="{{ url_for('static', filename='img/Img7.png') }}" alt="Icono contraseña">
        </span>
        <input type="password" name="password" id="password" placeholder="CONTRASEÑA" value="{{ request.form.password }}">
        <span class="toggle-password" onclick="togglePassword()">
          <img id="toggleIcon" src="{{ url_for('static', filename='img/Img8.png') }}" alt="Mostrar contraseña">
        </span>
      </div>

      {% if err and err.emptyValues %}
      <script>
        Swal.fire({
          icon: 'error', 
          title: 'Error',
          text: "{{ err.emptyValues }}",
          showConfirmButton: true
        });
        </script>
      {% elif err and err.invalidData %}
       <script>
        Swal.fire({
          icon: 'error', 
          title: 'Error',
          text: "{{ err.invalidData }}",
          showConfirmButton: true
        });
        </script>
      {% elif err and err.invalidLogin %}
         <script>
        Swal.fire({
          icon: 'error', 
          title: 'Error',
          text: "{{ err.invalidLogin }}",
          showConfirmButton: true
        });
        </script>
      {% elif err and err.loginError %}
        <script>
        Swal.fire({
          icon: 'error', 
          title: 'Error',
          text: "{{ err.loginError }}",
          showConfirmButton: true
        });
        </script>
      {% endif %}

      <button type="submit" class="btn-ingresar">INGRESAR</button>
    </form>

    
  </div>

  <script>
    function togglePassword() {
      const input = document.getElementById("password");
      const icon = document.getElementById("toggleIcon");

      if (input.type === "password") {
        input.type = "text";
        icon.src = "{{ url_for('static', filename='img/Img9.png') }}";
        icon.alt = "Ocultar contraseña";
      } else {
        input.type = "password";
        icon.src = "{{ url_for('static', filename='img/Img8.png') }}";
        icon.alt = "Mostrar contraseña";
      }
    }
  </script>

</body>
</html>
