<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{nombre_medico}}</title>
</head>
<body>
    <h1>Médico admin</h1>

    <h2 style="color:blue">Bienvenid@ {{nombre_medico}}</h2>

    {% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
            {% for msj in mensajes %}
                <h4 style="color: green">{{msj}}</h4>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <nav>
        <ul>
            <li><a href="/consulta_admin">Citas</a></li>
            <li><a href="/expedientes_admin">Expedientes</a></li>
            <li><a href="/agregar_medico">Agregar médico</a></li>
        </ul>
    </nav>
</body>
</html>