<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título por defecto{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.0/dist/sweetalert2.min.css" rel="stylesheet">
    <!-- Bloque de estilos -->
    {% block estilos %}{% endblock %}
</head>
<body class="m-0 font-sans bg-[#c3ebf7]">
    <!-- Contenido de la pagina -->
    {% block body %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% include 'plantillas/errorMensajes.html' %}
    {% block scripts %}{% endblock %}
</body>
</html>
