{% with mensajes = get_flashed_messages(with_categories=true) %}
  {% if mensajes %}
    {% if mensajes[0][0] in ["error", "success"] %}
      <script>
        Swal.fire({
          title: "{{ '¡Error!' if mensajes[0][0] == 'error' else 'Éxito!' }}",
          text: "{{ mensajes[0][1] }}",
          imageUrl: "{{ url_for('static', filename='Img/sad.gif') if mensajes[0][0] == 'error' else url_for('static', filename='Img/happy.gif') }}",
          imageWidth: 300,
          imageHeight: 200,
          imageAlt: "GIF de mensaje",
          confirmButtonText: "Aceptar"
        });
      </script>
    {% else %}
      <script>
        Swal.fire({
          title: "Mensaje",
          text: "{{ mensajes[0][1] }}",
          icon: "success"
        });
      </script>
    {% endif %}
  {% endif %}
{% endwith %}

{% if errores and errores.medicoNotFound %}
        <script>
          Swal.fire({
            icon: 'error', 
            title: 'Error',
            text: "{{ errores.medicoNotFound }}",
            showConfirmButton: true
          });
        </script>


{% elif errores and errores.noMedicos %}
        <script>
          Swal.fire({
            icon: 'error', 
            title: 'Error',
            text: "{{ errores.noMedicos }}",
            showConfirmButton: true
          });
        </script>


{% elif errores and errores.citasNotFound %}
        <script>
          Swal.fire({
            icon: 'error', 
            title: 'Error',
            text: "{{ errores.citasNotFound }}",
            showConfirmButton: true
          });
        </script>

{% elif errores and errores.busquedaNotFound %}
        <script>
          Swal.fire({
            icon: 'error', 
            title: 'Error',
            text: "{{ errores.busquedaNotFound }}",
            showConfirmButton: true
          });
        </script>
{% elif errores and errores.dbError %}
        <script>
          Swal.fire({
            icon: 'error', 
            title: 'Error',
            text: "{{ errores.dbError }}",
            showConfirmButton: true
          });
        </script>
{% endif %}
